{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}" />
<!DOCTYPE html>
<html>
  <head>
    <title>Бронирование парковочного места</title>
  </head>
  <body>
    <h2>Бронирование парковочного места</h2>
    <form method="post">
      {% csrf_token %}
      <label for="spot">Парковочное место:</label>
      <select id="spot" name="spot" required>
        {% for spot in spots %}
        <option value="{{ spot.id }}" {% if spot.id|stringformat:"s" == selected_spot_id %}selected{% endif %}>
          {{ spot.number }}
        </option>
        {% endfor %}
      </select>
      <label for="start_date">Дата начала:</label>
      <input type="datetime-local" id="start_date" name="start_date" required />
      <label for="end_date">Дата окончания:</label>
      <input type="datetime-local" id="end_date" name="end_date" required />
      <button type="submit">Забронировать</button>
    </form>
  </body>
</html>
