<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Парковка</title>
  </head>
  <body>
    <div class="header">
      <a
        href="{% url 'home' %}"
        class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
        ><h1>Парковка</h1></a
      >
      <a
        href="{% url 'my_bookings' %}"
        class="{% if request.resolver_match.url_name == 'my_bookings' %}active{% endif %}"
        ><h2>Мои бронирования</h2></a
      >
    </div>
    <div class="parking-lot">
      <img
        src="{% static 'Parking.png' %}"
        alt="Парковка"
        usemap="#parking-map"
        class="parking-image"
      />
      <map name="parking-map">
        {% for area in areas %}
        <area
          shape="rect"
          coords="{{ area.coords }}"
          href="{% url 'book_spot' %}?spot_id={{ area.spot_id }}"
          alt="{{ area.alt }}"
          class="free"
        />
        {% endfor %}
      </map>
    </div>
  </body>
</html>
