<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Парковка</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="{% static 'js/filterSpots.js' %}"></script>
  </head>
  <body>
    <div class="header">
      <a
        href="{% url 'home' %}"
        class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
        ><h1>Парковка</h1></a
      >
      <a
        href="{% url 'my_bookings' %}"
        class="{% if request.resolver_match.url_name == 'my_bookings' %}active{% endif %}"
        ><h2>Мои бронирования</h2></a
      >
    </div>
    <div class="status">
      <div onclick="filterSpots('free')"><div class="free">Свободно</div></div>
      <div onclick="filterSpots('occupied')">
        <div class="occupied">Занято</div>
      </div>
    </div>
    <div class="parking-lot">
      {% for spot in parking_spots %}
      <a href="{% url 'book_spot' %}?spot_id={{ spot.id }}">
        <div class="{% if not spot.is_free %}taken{% else %}free{% endif %}">
          {{ spot.number }}
        </div>
      </a>
      {% endfor %}
    </div>
  </body>
</html>
