<!DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="icon" href="{% static 'icon.jpg' %}" type="image/x-icon" />
  </head>
  <body>
    <div class="login-container">
      <h2>Регистрация</h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <div class="form-buttons">
          <button type="submit">Зарегистрироваться</button>
          <a href="/login" class="button-link">Вход</a>
        </div>
      </form>
    </div>
  </body>
</html>
